.pet-list {
  height: 100%;

  .top {
    height: 10%;
    mat-form-field {
      text-align: center;
    }
    button {
      transform: scale(1.5);
    }
  }

  mat-selection-list {
    max-height: calc(90% - 20px);
    overflow: auto;
    mat-list-option {
      .pet-item {
        .pet-name,
        .pet-status {
          text-align: center;
        }

        .pet-status {
          &.available {
            color: green;
          }
          &.pending {
            color: orange;
          }
          &.sold {
            color: red;
          }
        }
      }
    }
  }
}
