<div class="pet-list">
  <div class="top" fxLayoutAlign="space-around center">
    <mat-form-field appearance="standard">
      <mat-select
        value="available"
        (selectionChange)="onSelectStatus($event.value)"
      >
        <mat-option *ngFor="let status of petStatus" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-icon-button
      color="primary"
      matTooltip="Add a new pet"
      matTooltipPosition="right"
      routerLink="/pet/new"
    >
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>

  <mat-selection-list multiple="false" (selectionChange)="onSelectPet($event)">
    <ng-container *ngFor="let pet of pets$ | async">
      <mat-list-option [value]="pet">
        <div class="pet-item">
          <span fxFlex="50%" class="pet-name">{{ pet.name | titlecase }}</span>
          <span fxFlex="50%" class="pet-status" [ngClass]="pet.status">
            {{ pet.status | titlecase }}
          </span>
        </div>
      </mat-list-option>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-selection-list>
</div>
