<div class="auth">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
    *ngIf="!!form"
    [formGroup]="form"
    (ngSubmit)="onAuth()"
  >
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="username" autocomplete />
      <mat-error *ngIf="form.get('username')?.hasError('required')"
        >Field must not be empty</mat-error
      >
      <mat-error *ngIf="form.get('username')?.hasError('email')"
        >Email must be in a valid format</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" autocomplete />
      <mat-error *ngIf="form.get('password')?.hasError('required')"
        >Field must not be empty</mat-error
      >
      <mat-error *ngIf="form.get('password')?.hasError('minlength')"
        >Password must contain at least 8 characters</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="isSignup">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="confirmPassword"
        autocomplete
      />
      <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')"
        >Field must not be empty</mat-error
      >
      <mat-error
        *ngIf="form.get('confirmPassword')?.hasError('unmatchingPasswords')"
        >Passwords must match</mat-error
      >
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">
      {{ isSignup ? "Sign Up!" : "Log In!" }}
    </button>
  </form>
</div>
