.home {
  height: 100%;

  h1 {
    text-align: center;
    font-size: 400%;
    margin: 20px;

    &.extra-large {
      font-size: 600%;

    }

    &.small {
      font-size: 300%;
    }

    &.extra-small {
      font-size: 200%;
    }
  }

  img {
    max-width: 100%;
  }
}
