<div mat-dialog-content class="pet-detail">
  <mat-card>
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>Shiba Inu</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content fxLayoutAlign="center"> Available </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions fxLayoutAlign="center">
  <button mat-button mat-dialog-close>Close</button>
</div>
