<div class="add-pet">
  <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="form" (ngSubmit)="onAddPet()">
    <mat-form-field appearance="fill">
      <mat-label>Pet Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of petStatus" [value]="status">{{
          status | titlecase
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="imageUrl"/>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Create Pet!</button>
  </form>
</div>
